* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  -ease: cubic-bezier(0.25, 0.1, 0.25, 1);
}

body,
html {
  width: 100%;
  height: 100vh;
  background-color: #111111;
}

#root {
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[data-dom="list"] li {
  opacity: 0.1;
  transition: opacity 1s var(-ease) 0s;
}

[data-dom="list"] li:hover {
  opacity: 0.4;
  transition: opacity 1s var(-ease) 0s;
}

[data-dom="list"] .active,
[data-dom="list"] .active:hover {
  transition: opacity 1s var(-ease) 0s;
  opacity: 1;
  z-index: 20;
  position: relative;
  color: white;
}
